.container
  %h3 Лебединое Озеро
  = image_tag ("swan-2.JPG")
  %p
  = image_tag ("swan-3.JPG")
  %p
  = image_tag ("swan-4.JPG")
  %p
  = image_tag ("swan-7.JPG")
  %p
  = image_tag ("swan-8.JPG")
  %p
  = image_tag ("swan-9.JPG")
  %p
  = image_tag ("swan-10.JPG")
  %p

