.container
  = image_tag("swan-lake-v2")
  %h4
    %br/
    Мы рады приветствовать Вас на официальном сайте Театра Классического Балета. Здесь Вы узнаете последние новости театра, отклики в прессе, информацию о нашем коллективе и многое другое
  %br/
  %h3.center АФИШИ НАШИХ ПРЕДСТАВЛЕНИЙ
  .row
    .span2
    .span8
      %h4
        В Одесском Национальном Академическком Теартре Оперы и Балета неоднократно проходили представления «Лебединое Озеро» и «Щелкунчика».
      .row
        .span4
          = image_tag("event2")
        .span4
          = image_tag("event3")
      %br/
      %h4
        Также состоялась премьера модерн балета «Ромео и Джульетта».
      .row
        .span2
        .span4
          = image_tag("event4")
        .span6
      %br/
      %h4
        Выступив в качестве продюсера Трощенко В.Н. были приглашены звезды итальянской оперы Джина Ианни, Франческо Паккорини и Йонг Жин Парк которые исполнили самые любимые всеми арии.
      .row
        .span2
        .span4
          = image_tag("event1")
      %br/
      %h3.center СОТРУДНИЧЕСТВО С MOSCOW BALLET
      %h4
        Наша труппа удачно провела совместный проэкт показа предрождественского «Щелкунчика» в блольшом туре с компанией
        %a{:href => "http://nutcracker.com"} Moscow Ballet
        по восточному побережью США.
      .row
        .span2
        .span10
          = image_tag("usa_nutcracker.jpg")
      %br/

