.container
  = image_tag("swan-lake-v2")
  %h4
    %br/
    = t "hello"
  %br/
  %h3.center 
    = t "affiche"
  .row
    .span2
    .span8
      %h4
        = t "home_text_swan"
      .row
        .span4
          = image_tag("event2")
        .span4
          = image_tag("event3")
      %br/
      %h4
        = t "home_text_romeo"
      .row
        .span2
        .span4
          = image_tag("event4")
        .span6
      %br/
      %h4
        = t "home_text_opera"
      .row
        .span2
        .span4
          = image_tag("event1")
      %br/
      %h3.center
        = t "coworking"
      %h4
        = t "coworking_text1"
        %a{:href => "http://nutcracker.com"} Moscow Ballet
        = t "coworking_text2"
      .row
        .span2
        .span10
          = image_tag("usa_nutcracker.jpg")
      %br/

