.container
  .row
    %div.span7
      %iframe{:allowfullscreen => "", :frameborder => "1", :height => "275", :src => "https://www.youtube.com/embed/8rZPb-t6mUo", :width => "490"}
    %div.span3
      %h4 
        = t "promo_video"
        = t "swan"
    %div.span7
      %iframe{:allowfullscreen => "", :frameborder => "1", :height => "275", :src => "https://www.youtube.com/embed/U0Ukz1wu4iM", :width => "490"}
    %div.span3
      %h4
        = t "promo_video"
        = t "sleeping"
    %div.span7
      %iframe{:allowfullscreen => "", :frameborder => "1", :height => "275", :src => "https://www.youtube.com/embed/gW-KDuo6IoQ", :width => "490"}
    %div.span3
      %h4
        = t "promo_video"
        = t "romeo"
    %div.span7
      %iframe{:allowfullscreen => "", :frameborder => "1", :height => "275", :src => "https://www.youtube.com/embed/BH1Ci0J2j5g", :width => "490"}
    %div.span3
      %h4
        = t "opera"

